.testimonial{
    /* color: white; */
   margin-left: 150px;
   
   
}
.testimonial h2 {
    font-weight: bold;
    color: hsl(177, 75%, 30%);

}
.firstrow {
    padding:3%;
}
.testimonial hr {
    color: #138781;
    /* width: 400px; */
    border: 2px solid;
    margin: 10px auto;
    font-weight: bold;
  }
.cardq {
    box-shadow: 9px 1.7px 7px 1.2px #7b7a7a;
    margin-top: 10px;
}
.cardq img {

    box-shadow: 11.1px 0.3px 20.2px .1px #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    cursor: pointer;
}
.card-body h5{
    font-weight: bold;
    text-align: center;

}
#dark .testimonial {
    background-color: rgba(27, 30, 31, 0.897);
}
.card-body p  {
    text-align: justify;
}

  @media (max-width: 600px) {
    .testimonial {
      margin: 0;
      padding: 0;
      margin-top: 30px;
    }
}